APP_URL="http://localhost:8788"

JWT_SECRET=""

RESEND_API_KEY=""

MS_CLIENT_ID=""
MS_CLIENT_SECRET=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_STARTER_MONTHLY_PRICE_ID=""
STRIPE_STARTER_ANNUAL_PRICE_ID=""
STRIPE_CORE_MONTHLY_PRICE_ID=""
STRIPE_CORE_ANNUAL_PRICE_ID=""
STRIPE_ENTERPRISE_MONTHLY_PRICE_ID=""
STRIPE_ENTERPRISE_ANNUAL_PRICE_ID=""