APP_URL="http://localhost:8788"

JWT_SECRET=""

RESEND_API_KEY=""

MS_CLIENT_ID=""
MS_CLIENT_SECRET=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PROFESSIONAL_MONTHLY_PRICE_ID=""
STRIPE_PROFESSIONAL_ANNUAL_PRICE_ID=""
STRIPE_BUSINESS_MONTHLY_PRICE_ID=""
STRIPE_BUSINESS_ANNUAL_PRICE_ID=""